.latest-articles {
    min-height: 680px;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    padding-bottom: 50px;
}

.articles-h2 {
    max-width: 1160px;
    padding-top: 100px;
    padding-bottom: 60px;
    font-weight: 400;
    padding-left: 20px;
}

.articles-container {
    max-width: 1150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
    
}

@media only screen and (max-width: 1150px) {
    .articles-container {
        max-width: 700px;
        justify-content: space-evenly;
    }
    .articles-h2 {
        text-align: center;
    }
}