.whyEasy-section {
    min-height: 680px;
    width: 100%;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px 0px 50px;
    box-sizing: border-box;
}

.why-header {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 1150px;
    padding-top: 80px;
}


.why-h2 {
    box-sizing: border-box;
    letter-spacing: -0.5px;
}

.perks-container {
    margin: 0 auto;
    max-width: 1150px;
    height: 52%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 1024px mobile */ 

@media only screen and (max-width: 1024px) {
    .perks-container {
        max-width: 700px;
        justify-content: space-evenly;
    }
    .why-h2 {
        text-align: center;
        padding-bottom: 20px;
    }
    .why-p {
        text-align: center;
        padding-bottom: 30px;
    }
    .why-header {
        height: auto;
    }
}

@media only screen and (max-width: 475px) {
    .whyEasy-section {
        padding: 0px 10px 0px 10px;
    }
}