.perk {
    width: 21.5%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 20px 20px 20px 0px;
}

.perk-p {
    font-size: 16px;
    letter-spacing: -0.4px;
}

.perk-image {
    width: 72px;
    height: 72px;
}

.perk-h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .perk {
        width: 230px;
        margin: 0;
        height: 300px;
    }
    .perk-p {
        text-align: center;
    }
    .perk-h3 {
        text-align: center;
    }
    .perk-image {
        margin: 0 auto;
    }
}
